@mixin FlexElement($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin ForBlocks ($justify) {
    display: flex;
    justify-content: $justify;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.20);
    z-index: 3;
    position: fixed;
    &_form {
        width: 425px;
        height: 450px;       
        border-radius: 4px;
        background: #FFF;
        &_fortitle {
            @include ForBlocks(center);
            &_title {
                color: #202336;
                font-family: Inter;
                font-size: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;  
                margin-top: 35px;             
            }
        }
        &_fortitle2 {
            @include ForBlocks(center);
            &_title {
                color: #202336;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;    
                margin-top: 45px;       
            }
        }
        &_forinput1 {
            @include ForBlocks(center);
            &_input1 {
                width: 299px;
                height: 52px;  
                border-radius: 6px;
                border: 0.8px solid #AFB0B9;   
                margin-top: 8px;
                color: #202336;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; 
            }
        }
        &_fortitle3 {
            @include ForBlocks(center);
            &_title {
                color: #202336;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;    
                margin-top: 20px;       
            }
        }
        &_forinput2 {
            @include ForBlocks(center);
            &_input1 {
                width: 299px;
                height: 52px;  
                border-radius: 6px;
                border: 0.8px solid #AFB0B9;   
                margin-top: 8px;
                color: #202336;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; 
            }
        }
        &_forbtn1 {
            @include ForBlocks(center);
            &_btn {
                width: 132px;
                height: 44px;  
                border-radius: 8px;
                margin-top: 26px;
                border: 1px solid #FB8F1D;   
                background: #FFF;
                color: #FB8F1D;
                font-family: Inter;
                font-size: 15px;   
                cursor: pointer;  
                transition-duration: 0.6s;   
                &:hover {
                    transition-duration: 0.6s; 
                    border-radius: 8px;
                    background: #FB8F1D;   
                    color: #FFF;     
                }      
            }
        }
        &_forbtn2 {
            @include ForBlocks(center);
            &_btn {
                width: 132px;
                height: 44px;  
                border-radius: 8px;
                border: 1px solid #FB8F1D;   
                background: #FFF;
                color: #FB8F1D;
                font-family: Inter;
                font-size: 15px;   
                cursor: pointer;  
                margin-top: 5px;
                transition-duration: 0.6s;   
                &:hover {
                    transition-duration: 0.6s; 
                    border-radius: 8px;
                    background: #FB8F1D;   
                    color: #FFF;     
                }      
            }
        }
    }
}
.modal2 {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.20);
    z-index: 3;
    position: fixed;
    &_form {
        width: 425px;
        height: 540px;     
        border-radius: 4px;
        background: #FFF;
        &_fortitle {
            @include ForBlocks(center);
            &_title {
                color: #202336;
                font-family: Inter;
                font-size: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;  
                margin-top: 35px;             
            }
        }
        &_fortitle2 {
            @include ForBlocks(center);
            &_title {
                color: #202336;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;    
                margin-top: 45px;       
            }
        }
        &_forinput1 {
            @include ForBlocks(center);
            &_input1 {
                width: 299px;
                height: 52px;  
                border-radius: 6px;
                border: 0.8px solid #AFB0B9;   
                margin-top: 8px;
                color: #202336;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; 
            }
        }
        &_fortitle3 {
            @include ForBlocks(center);
            &_title {
                color: #202336;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;    
                margin-top: 20px;       
            }
        }
        &_forinput2 {
            @include ForBlocks(center);
            &_input1 {
                width: 299px;
                height: 52px;  
                border-radius: 6px;
                border: 0.8px solid #AFB0B9;   
                margin-top: 8px;
                color: #202336;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; 
            }
        }
        &_fortitle4 {
            @include ForBlocks(center);
            &_title {
                color: #202336;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;    
                margin-top: 20px;       
            }
        }
        &_forinput3 {
            @include ForBlocks(center);
            &_input1 {
                width: 299px;
                height: 52px;  
                border-radius: 6px;
                border: 0.8px solid #AFB0B9;   
                margin-top: 8px;
                color: #202336;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; 
            }
        }
        &_forbtn1 {
            @include ForBlocks(center);
            &_btn {
                width: 132px;
                height: 44px;  
                border-radius: 8px;
                margin-top: 20px;
                border: 1px solid #FB8F1D;   
                background: #FFF;
                color: #FB8F1D;
                font-family: Inter;
                font-size: 15px;   
                cursor: pointer;  
                transition-duration: 0.6s;   
                &:hover {
                    transition-duration: 0.6s; 
                    border-radius: 8px;
                    background: #FB8F1D;   
                    color: #FFF;     
                }      
            }
        }
        &_forbtn2 {
            @include ForBlocks(center);
            &_btn {
                width: 132px;
                height: 44px;  
                border-radius: 8px;
                border: 1px solid #FB8F1D;   
                background: #FFF;
                color: #FB8F1D;
                font-family: Inter;
                font-size: 15px;   
                cursor: pointer;  
                margin-top: 5px;
                transition-duration: 0.6s;   
                &:hover {
                    transition-duration: 0.6s; 
                    border-radius: 8px;
                    background: #FB8F1D;   
                    color: #FFF;     
                }      
            }
        }
    }
}
.header {
    width: 100%;
    height: 70px;
    background: #fff;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    &_head {
        @include FlexElement(space-between, center);
        width: 1219px;
        height: 52px;      
        margin: 0 auto;
        &_a {
            text-decoration: none;
            &_logo {
                margin-top: 14px;
            }
        }
        &_nav {
            margin-top: 10px;
            width: 347px;
            height: 20px;
            &_ul {
                @include FlexElement(space-between, center);
                &_li {
                    list-style: none;
                    &_a {
                        color: #B8BECD;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        transition-duration: 0.6s; 
                        cursor: pointer;
                        text-decoration: none;
                        &:hover {
                            transition-duration: 0.6s; 
                            color: #202336;       
                        }              
                    }
                }
            }
        }
        &_btns {
            margin-top: 10px;
            display: flex;
            column-gap: 18px;
            &_btn1 {
                width: 132px;
                height: 44px;  
                border-radius: 8px;
                border: 1px solid #FB8F1D;   
                background: #FFF;
                color: #FB8F1D;
                font-family: Inter;
                font-size: 15px;   
                cursor: pointer;  
                transition-duration: 0.6s;   
                &:hover {
                    transition-duration: 0.6s; 
                    border-radius: 8px;
                    background: #FB8F1D;   
                    color: #FFF;     
                }
            }
            &_btn2 {
                width: 132px;
                height: 44px;  
                border-radius: 8px;
                border: 1px solid #FB8F1D;   
                background: #FFF;
                color: #FB8F1D;
                font-family: Inter;
                font-size: 15px;   
                cursor: pointer;  
                transition-duration: 0.6s;   
                &:hover {
                    transition-duration: 0.6s; 
                    border-radius: 8px;
                    background: #FB8F1D;   
                    color: #FFF;     
                }
            }
        }
    }
}
.main {
    &_block1 {
        @include FlexElement(center, center);
        column-gap: 115px;
        &_bl1 {
            margin-top: 115px;
            width: 489px;
            height: 559px;     
            &_title {
                color: #202336;
                font-family: Playfair Display;
                font-size: 64px;
                font-style: normal;
                font-weight: 700;
                line-height: 80px;     
                width: 356px;
                height: 160px;
            }  
            &_p1 {
                color: #202336;
                font-family: Inter;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-top: 74px;   
                margin-left: 5px;     
            }
            &_line {
                width: 32px;
                height: 2px;    
                background: #202336; 
                margin-left: 5px; 
                margin-top: 21px;
            }
            &_forinputs {
                @include ForBlocks(center);
                width: 470px;
                height: 107px;
                column-gap: 30px;
                margin-left: 5px;
                margin-top: 48px;
                &_inputs1 {
                    width: 220px;
                    height: 107px;
                    &_input1 {
                        border-radius: 6px;
                        border: 0.8px solid #AFB0B9;
                        color: #4A4C53;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;  
                        padding-left: 16px;
                    }
                    &_input2 {
                        border-radius: 6px;
                        border: 0.8px solid #AFB0B9;
                        color: #4A4C53;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;  
                        padding-left: 16px;
                        margin-top: 35px;
                    }
                }
                &_inputs2 {
                    width: 220px;
                    height: 107px;
                    &_input1 {
                        border-radius: 6px;
                        border: 0.8px solid #AFB0B9;
                        color: #4A4C53;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;  
                        padding-left: 16px;
                    }
                    &_input2 {
                        border-radius: 6px;
                        border: 0.8px solid #AFB0B9;
                        color: #4A4C53;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;  
                        padding-left: 16px;
                        padding-right: 75px;
                        margin-top: 35px;
                    }
                }
            }
        }
        &_bl2 {
            margin-top: 75px;      
        }
    }
    &_block2 {
        @include FlexElement(center, center);
        column-gap: 100px;
        margin-top: 150px;
        &_bl2 {
            width: 441px;
            height: 315px;
            &_title {
                color: #000;
                font-family: Playfair Display;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px; 
                width: 481px;
                height: 100px;          
            }    
            &_text {
                color: #7D7987;
                font-family: Mulish;
                font-size: 17px;
                font-style: normal;
                font-weight: 300;
                line-height: 25px; 
                width: 450px;
                height: 120px;
                margin-top: 20px;    
            }
            &_btn {
                width: 132px;
                height: 44px;  
                border-radius: 8px;
                border: 1px solid #FB8F1D;   
                background: #FFF;
                color: #FB8F1D;
                font-family: Inter;
                font-size: 15px;   
                cursor: pointer;  
                transition-duration: 0.6s;   
                margin-top: 10px;
                &:hover {
                    transition-duration: 0.6s; 
                    border-radius: 8px;
                    background: #FB8F1D;   
                    color: #FFF;     
                }      
            }
        }
    }
    &_block3 {
        margin-top: 150px;
        &_forbl1 {
            @include ForBlocks(center);
            &_bl1 {
                @include FlexElement(center, center);
                width: 1120px;
                height: 40px;
                column-gap: 685px;
                &_p1 {
                    color: #000;
                    font-family: Playfair Display;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;         
                }
                &_a {
                    text-decoration: none;
                    display: flex;
                    &_text {
                        color: #FB8F1D;
                        font-family: Inter;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;            
                    }
                    &_svg {
                        margin-top: 3px;
                        margin-left: 4px;
                    }
                }
            }       
        }
        &_bl2 {
            @include ForBlocks(center); 
            margin-top: 56px;
            column-gap: 25px;
            &_ra {
                width: 261px;
                height: 337px;   
                background: url("../img/image\ 4.png");
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 8px;
                &_block {
                    width: 120px;
                    height: 56px;     
                    border-radius: 0px 6px 0px 0px;
                    background: #FFF;        
                    margin-top: 282px;
                    &_p1 {
                        color: #042521;
                        font-family: Inter;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;      
                        line-height: 25px;
                        margin-left: 5px;     
                    }
                    &_p2 {
                        color: #80918E;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;    
                        margin-left: 5px;       
                    }
                }
            }
            &_fc {
                width: 261px;
                height: 337px;   
                background: url("../img/Screen\ Shot\ 2020-02-14\ at\ 4.36\ 1.png");
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 8px;
                &_block {
                    width: 120px;
                    height: 56px;     
                    border-radius: 0px 6px 0px 0px;
                    background: #FFF;        
                    margin-top: 282px;
                    &_p1 {
                        color: #042521;
                        font-family: Inter;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;      
                        line-height: 25px;
                        margin-left: 5px;     
                    }
                    &_p2 {
                        color: #80918E;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;    
                        margin-left: 5px;       
                    }
                }
            }
            &_vs {
                width: 261px;
                height: 337px;   
                background: url("../img/Screen\ Shot\ 2020-02-15\ at\ 11.04\ 1.png");
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 8px;
                &_block {
                    width: 120px;
                    height: 56px;     
                    border-radius: 0px 6px 0px 0px;
                    background: #FFF;        
                    margin-top: 282px;
                    &_p1 {
                        color: #042521;
                        font-family: Inter;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;      
                        line-height: 25px;
                        margin-left: 5px;     
                    }
                    &_p2 {
                        color: #80918E;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;    
                        margin-left: 5px;       
                    }
                }
            }
            &_sm {
                width: 261px;
                height: 337px;   
                background: url("../img/Screen\ Shot\ 2020-02-15\ at\ 11.10\ 1.png");
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 8px;
                &_block {
                    width: 120px;
                    height: 56px;     
                    border-radius: 0px 6px 0px 0px;
                    background: #FFF;        
                    margin-top: 282px;
                    &_p1 {
                        color: #042521;
                        font-family: Inter;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;      
                        line-height: 25px;
                        margin-left: 5px;     
                    }
                    &_p2 {
                        color: #80918E;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;    
                        margin-left: 5px;       
                    }
                }
            }
        }
    }
    &_block4 {
        @include FlexElement(center, center);
        column-gap: 100px;
        margin-top: 150px;       
        &_bl1 {
            width: 481px;
            height: 303px;
            &_title {
                color: #000;
                font-family: Playfair Display;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px; 
                width: 450px;
            }
            &_text {
                color: #7D7987;
                font-family: Mulish;
                font-size: 17px;
                font-style: normal;
                font-weight: 300;
                line-height: 30px;       
                margin-top: 20px;    
            }
            &_btn {
                width: 132px;
                height: 44px;  
                border-radius: 8px;
                border: 1px solid #FB8F1D;   
                background: #FFF;
                color: #FB8F1D;
                font-family: Inter;
                font-size: 15px;   
                cursor: pointer;  
                transition-duration: 0.6s;   
                margin-top: 40px;
                &:hover {
                    transition-duration: 0.6s; 
                    border-radius: 8px;
                    background: #FB8F1D;   
                    color: #FFF;     
                }           
            }
        }
    }
    &_block5 {
        @include FlexElement(center, center);
        column-gap: 100px;
        margin-top: 150px;         
        &_bl1 {
            width: 450px;
            height: 500px; 
            &_title {
                color: #000;
                font-family: Playfair Display;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px;          
            }  
            &_stars {
                display: flex;
                column-gap: 15px;
                margin-top: 145px;
            }
            &_text {
                color: #000;
                font-family: Mulish;
                font-size: 24px;
                font-style: italic;
                font-weight: 400;
                line-height: 36px;           
                margin-top: 30px; 
            }
            &_ed {
                color: #000;
                font-family: Inter;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;       
                margin-top: 40px;
            }
            &_fc {
                color: rgba(0, 0, 0, 0.85);
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;   
                   
            }
        }
    }
    &_block6 {
        margin-top: 150px;
        &_forbl1 {
            @include ForBlocks(center);
            &_bl1 {
                @include FlexElement(center, center);
                width: 1120px;
                height: 40px;
                column-gap: 770px;
                &_p1 {
                    color: #000;
                    font-family: Playfair Display;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;         
                }
                &_a {
                    text-decoration: none;
                    display: flex;
                    &_text {
                        color: #FB8F1D;
                        font-family: Inter;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;            
                    }
                    &_svg {
                        margin-top: 3px;
                        margin-left: 4px;
                    }
                }
            }       
        }
        &_bl2 {
            @include ForBlocks(center);
            margin-top: 56px;
            column-gap: 25px;
            &_block1 {
                width: 263px;
                height: 437px;
                &_photo {
                    width: 263px;
                    height: 231px;
                    background: url("../img/Mask\ Group.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &_title {
                    color: #000;
                    font-family: Inter;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px; 
                    width: 219px;
                    height: 60px;     
                    margin-top: 12px;      
                }
                &_text {
                    color: #7D7987;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;          
                    width: 266px;
                    height: 78px;
                    margin-top: 12px; 
                }
                &_a {
                    display: flex;
                    text-decoration: none;
                    color: #FB8F1D;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;    
                    margin-top: 25px;
                }
            }
            &_block2 {
                width: 263px;
                height: 437px;
                &_photo {
                    width: 263px;
                    height: 231px;
                    background: url("../img/Mask\ Group\ \(1\).png");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &_title {
                    color: #000;
                    font-family: Inter;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px; 
                    width: 242px;
                    height: 60px;     
                    margin-top: 12px;      
                }
                &_text {
                    color: #7D7987;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;          
                    width: 266px;
                    height: 78px;
                    margin-top: 12px; 
                }
                &_a {
                    display: flex;
                    text-decoration: none;
                    color: #FB8F1D;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;    
                    margin-top: 25px;
                }
            }
            &_block3 {
                width: 263px;
                height: 437px;
                &_photo {
                    width: 263px;
                    height: 231px;
                    background: url("../img/Mask\ Group\ \(2\).png");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &_title {
                    color: #000;
                    font-family: Inter;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px; 
                    width: 252px;
                    height: 60px;     
                    margin-top: 12px;      
                }
                &_text {
                    color: #7D7987;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;          
                    width: 266px;
                    height: 78px;
                    margin-top: 12px; 
                }
                &_a {
                    display: flex;
                    text-decoration: none;
                    color: #FB8F1D;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;    
                    margin-top: 25px;
                }
            }
            &_block4 {
                width: 263px;
                height: 437px;
                &_photo {
                    width: 263px;
                    height: 231px;
                    background: url("../img/Mask\ Group\ \(3\).png");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &_title {
                    color: #000;
                    font-family: Inter;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px; 
                    width: 252px;
                    height: 60px;     
                    margin-top: 12px;      
                }
                &_text {
                    color: #7D7987;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;          
                    width: 266px;
                    height: 78px;
                    margin-top: 12px; 
                }
                &_a {
                    display: flex;
                    text-decoration: none;
                    color: #FB8F1D;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;    
                    margin-top: 25px;
                }
            }
        }
    }
}
.footer {
    @include FlexElement(center, center);
    width: 100%;
    height: 350px;
    margin-top: 75px;
    background: #F9F9FB;
    column-gap: 108px;
    &_block1 {
        width: 339px;
        height: 238px;     
        &_logo {
            text-decoration: none;
        }
        &_text1 {
            color: #848484;
            font-family: Mulish;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px;      
            width: 297px;
            height: 79px; 
            margin-top: 26px;
        }
        &_text2 {
            color: #848484;
            font-family: Mulish;
            font-size: 17px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px; 
            margin-top: 55px;  
        }
    }
    &_block2 {
        width: 115px;
        height: 216px;
        &_title {
            color: #000;
            font-family: Mulish;
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px;          
        }
        &_ul {
            &_li {
                list-style: none;
                &_a {
                    color: #848484;
                    font-family: Mulish;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 38px;   
                    text-decoration: none;    
                }
            }
        }
    }
    &_block3 {
        width: 170px;
        height: 216px;
        &_title {
            color: #000;
            font-family: Mulish;
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px;          
        }
        &_ul {
            &_li {
                list-style: none;
                &_a {
                    color: #848484;
                    font-family: Mulish;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 38px;   
                    text-decoration: none;    
                }
            }
        }
    }
    &_block4 {
        width: 170px;
        height: 216px;
        &_title {
            color: #000;
            font-family: Mulish;
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px;          
        }
        &_ul {
            &_li {
                list-style: none;
                &_a {
                    color: #848484;
                    font-family: Mulish;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 38px;   
                    text-decoration: none;    
                }
            }
        }
    }
}